<!DOCTYPE html>


<html>

<head>
    <title>Security Camera UI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--this is a bootstrap style sheet, all that means is a prewritten piece of css that tells how my content looks on the page-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../styles.css">



    <style>
        .large {
            padding: 50px;
        }

        .statusbar {
            background-color: greenyellow;
            padding: 20px;
            border-radius: 10px;
        }
    </style>

</head>

<body style="background-color:lightgrey">
    <div style="background-color:lightgrey;">
        <div class="jumbotron text-center">
            <h1>Hello, Theo!</h1>
            <div class="container statusbar large text-center">
                <h3>Your System is now: Active</h3>
            </div>
        </div>

        <div class="container large text-center jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn-success"><i class="fa fa-power-off"></i></button>
                        <h6>Turn On System</h6>
                    </div>

                    <div class="col-sm-4">
                        <button class="btn btn-primary"><i class="fa fa-camera"></i></button>
                        <h6>Toggle Camera</h6>
                    </div>

                    <div class="col-sm-4">
                        <button class="btn btn-danger"><i class="fa fa-power-off"></i></button>
                        <h6>Turn Off System</h6>
                    </div>
                </div>
                <div class="container" style="padding:50px;">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">
                            <h3>Send a Command to Amanda</h3>
                        </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="(e.g. Tell me if there's anyone suspicious near my house)"
                            rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" style="background-color:lightgrey;">
            <div class="text-center container jumbotron">
                <h3>Hi! My name is Amanda</h3>
                <h5>I'm here to help with any of your needs!</h5>

            </div>
            <div class="jumbotron container">
                <h5>To start, send a command in the box above</h5>
                <div class="jumbotron" style="background-color:azure;">
                    <div class="large">

                    </div>
                    <div class="large">

                    </div>
                    <div class="large">

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>


</html>
