{% extends 'basic.html' %}

{% load static %}


{% block head %}
{% endblock head %}

{% block content %}

<div class="container large blogcontent">
    <div class="container">
        <h1>About</h1>
    </div>
    <div class="container">
        <p>
            Welcome to my Website! My name is Theo Lincke and I built this
            website to showcase some of the projects I've been working on in school and
            in my life in general.

        </p>
    </div>
    <div class="container">
        <div class="container">
            <h2>What You'll Find</h2>
            <p>
                Under the navigation bar, you'll find a few different tabs. In the projects tab, you'll find three
                separate pages, electronics, math and programming.
                These are where I will be actually showcasing my projects. Most projects will begin with an
                introduction on the lessons, the process and some of the
                goals towards the project. Each will go into detail on the process of building the project and may
                contain some applets that help the user understand
                the project more. I encourage you to explore some topics that you never thought you would be
                interested in. Or
                if you find something that intrigues you, please feel free to contact me. I won't get much traffic
                on this site, so I'll be able to respond very quickly and
                I always love working on collaborations with other people. To contact me, please leave your name
                and email under <a href='{% static 'contact' %}'>My Contact's Page</a>.
                Finally, you'll find an Affiliates tab. These are all of the organizations I am
                a part of. Check them out, especially if you're at Boulder right now. I would give them a lot of
                credit for providing me resources and ideas for
                each of my projects
            </p>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <h2>GitHub</h2>
            <p>
                For every project that involves code, there will hopefully be a working link at the bottom titled
                GitHub Code. If you are interested in the project and
                would like to contribute, feel free to do so. The link will be at the bottom of each article.
                Collaboration and sharing of ideas is definitely the best way
                to improve a project so I've tried my best to comment out most of my code, making it easy to
                follow. If you have any questions about the code, contact me
                on my contact page or add an issue to the code.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <h2>Credits</h2>
            <p>
                I would like to credit a few people for inspiration and help on my website.
                <div class="container">
                    <ul>
                        <li>
                            <a href="http://maureenlincke.com/blog/">Maureen Lincke</a> Of course I have to credit
                            my sister. Definitely check out her blog. Maureen inspired me to
                            build my website in the first place. Currently, she's living in Amman Jordan with her
                            Husband and her blog is thoroughly incredible.
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCDrekHmOnkptxq3gUU0IyfA">Devon Crawford</a>
                            Devon Crawford is a youtuber who works with electronics and code to build amazing
                            things. I got
                            a lot of inspiration from his <a href="http://www.devoncrawford.io/">website</a> for
                            the layout and design of my own website
                            and I wouldn't have been able to build a responsive site without him.
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCvjgXvBlbQiydffZU7m1_aw">Daniel Shiffman</a>
                            At first Glance, Shiffman's youtube channel is a bit much, but Shiffman
                            has so many amazing video tutorials, from beginner to advanced, that helped me work
                            with the firebase api, p5.js, node.js and some javascript libraries. He also has
                            a lot of videos on just building things from scratch, and as you've seen, this is my
                            favorite way to learn coding. Definitely check him out.
                        </li>

                    </ul>
                </div>
            </p>
        </div>
    </div>
    <div class="container">

        <div class="container">
            <div class="container">
                <h2>A Note on Errors</h2>
                <p>
                    I think any programmer goes through a certain phase in their life where their projects begin to
                    be showcased to the public domain. During this transition,
                    they realize just how important actually making their code run is. In class and in projects, I
                    often find myself writing programs, stress testing them a bit,
                    then finishing them. However, when your code is visible to everybody on the planet, you realize
                    that every part of your code should be working inside and out.
                    Thus, it is my hope that my website is running as smoothly as possible, but you're feedback is
                    highly sought. If you find that something doesn't work right
                    on the website, or it crashes unexpectedly, or if you know anything about web development and
                    would like to share with me some of the atrocious mistakes I've made,
                    please be my guest!
                </p>
            </div>
        </div>
        <div class="container">
            <div class="container">
                <h2>Enjoy!</h2>


            </div>
        </div>




    </div>
</div>



{% endblock content %}
